body {
    background-color: lavenderblush;
    font-size: 15px;
    text-align: center;
}

.bigButton {
    background-color: navy;
    border: 4px midnightblue outset;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    padding: 15px;
}

.bigButton:hover {
    background-color: #0f0f80;
}

.bigButton:active {
    background-color: #000040;
    border: 4px midnightblue inset;
}

#brushSize {
    display: inline-block;
}

canvas {
    border: 5px outset red;
    display: block;
    margin: 0 auto 0 auto;
}

#colorPicker {
    border: 1px inset #aaa;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    height: 20px;
    width: 50px;
}

#colorList {
    left: -143px;
    top: 20px;
    line-height: 0px;
    position: absolute;
    width: 336px;
}

#colorList div {
    border: 1px solid black;
    display: inline-block;
    margin: 0 0 -1px -1px;
    height: 20px;
    width: 20px;
}

.description {
    background-color: lightblue;
    border: 2px outset navy;
    border-radius: 15px;
    font-size: 17px;
    margin: 10px auto 25px auto;
    padding: 5px;
    width: 600px;
}

#sizeEditor .description {
    width: 300px;
}

#downArrow {
    color: navy;
    font-size: 75px;
}

#editor {
    margin: 5px 0 50px 0;
}

.frameInfo input {
    width: 55px;
}

#frameList {
    background-color: darkgray;
    border: 5px outset lightgray;
    list-style-type: none;
    margin: 0 auto;
    overflow: scroll;
    padding: 0;
    text-align: left;
    white-space: nowrap;
    width: 800px;
}

.frameInfo {
    background-color: lightblue;
    border-right: 1px solid white;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    width: 200px;
}

.frameInfo:hover {
    background-color: powderblue;
}

#gifContainer {
    background-color: white;
    border: 5px solid navy;
    margin: 0 auto;
}

.invalidInput {
    background-color: darksalmon;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 9999;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    margin: 10px 0;
}

.red {
    color: red;
    font-weight: bold;
}

#selected {
    background-color: cadetblue;
}

#selected:hover {
    background-color: #67a7a8;
}

#sizeEditor {
    font-size: 30px;
}

#sizeEditor input {
    font-size: 30px;
}

#sizeEditor .numberEditor {
    display: inline;
    padding: 0 10px;
}

#sizeEditor button {
    display: block;
    margin: 10px auto;
}

#sizePreview {
    background-color: lightgray;
    border: 5px outset gray;
    display: block;
    margin: 0 auto;
}

.test {
    border-radius: 15px;
    margin: 20px;
    text-align: center;
}

.testImages {
    background-color: lightblue;
    border-radius: 15px;
    padding: 10px;
}

.testGif {
    background-color: lightcyan;
    border-radius: 15px;
    padding: 10px;
}

#messages {
    background-color: white;
    border: 5px solid blue;
    border-radius: 15px;
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    width: 200px;
}

#messages h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}
